@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@400;600;700&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none; }

#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #111; }
  #visual > ul {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 700px; }
    #visual > ul > li {
      width: 20%;
      height: 100%;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      transition: 1.5s; }
      #visual > ul > li::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        opacity: 0.4; }
      #visual > ul > li:hover::before {
        opacity: 1; }
      #visual > ul > li:nth-of-type(1) {
        left: 0%;
        transition-delay: 0s; }
      #visual > ul > li:nth-of-type(1)::before {
        background-image: url("../img/u2_1.jpg"); }
      #visual > ul > li:nth-of-type(2) {
        left: 20%;
        transition-delay: 0.1s; }
      #visual > ul > li:nth-of-type(2)::before {
        background-image: url("../img/u2_2.png"); }
      #visual > ul > li:nth-of-type(3) {
        left: 40%;
        transition-delay: 0.2s; }
      #visual > ul > li:nth-of-type(3)::before {
        background-image: url("../img/u2_3.png"); }
      #visual > ul > li:nth-of-type(4) {
        left: 60%;
        transition-delay: 0.3s; }
      #visual > ul > li:nth-of-type(4)::before {
        background-image: url("../img/u2_4.jpg"); }
      #visual > ul > li:nth-of-type(5) {
        left: 80%;
        transition-delay: 0.4s; }
      #visual > ul > li:nth-of-type(5)::before {
        background-image: url("../img/u2_5.jpg"); }
      #visual > ul > li.on {
        left: 0%;
        z-index: 3; }
        #visual > ul > li.on::before {
          opacity: 1; }
      #visual > ul > li.off {
        transform: scale(0.2) rotateY(180deg);
        opacity: 0;
        z-index: 1; }
      #visual > ul > li .open {
        position: absolute;
        bottom: 50px;
        left: 40px;
        transition: 0.5s;
        font: 20px/1 'Shadows Into Light';
        color: #fff;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
      #visual > ul > li .txt {
        position: absolute;
        left: 0;
        right: 0;
        padding: 20px;
        box-sizing: border-box; }
        #visual > ul > li .txt p {
          font: bold 30px/1 'Cairo';
          color: #fff;
          margin-bottom: 10px;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
        #visual > ul > li .txt h2 {
          font: bold 36px/1 'Cairo';
          color: #fff;
          text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  #visual .content {
    width: 80%;
    height: 100%;
    z-index: 2;
    right: -100%;
    position: absolute;
    top: 0;
    opacity: 0;
    box-sizing: border-box;
    transition: 1.5s;
    display: flex;
    justify-content: center;
    padding: 60px; }
    #visual .content .close {
      display: block;
      font: 19px/1 'Shadows Into Light';
      color: #fff;
      position: absolute;
      top: 50px;
      right: 50px; }
    #visual .content.on {
      right: 0;
      opacity: 1; }
    #visual .content .inner {
      width: 820px;
      box-sizing: border-box;
      padding-top: 40px;
      margin: 0 auto; }
      #visual .content .inner .pic {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.2;
        z-index: -1; }
      #visual .content .inner h2 {
        font: bold 35px/1 'Cairo';
        color: #fff;
        margin-bottom: 50px; }
      #visual .content .inner span {
        font: bold 20px/1 'Cairo';
        color: #fff; }
      #visual .content .inner h3 {
        font: bold 28px/1 'Cairo';
        color: #fff;
        margin-bottom: 30px;
        margin-top: 10px; }
      #visual .content .inner .vid {
        width: 100%;
        margin: 0 auto;
        z-index: 4;
        margin-bottom: 10px; }
      #visual .content .inner a {
        font: 18px/1 'Shadows Into Light';
        color: #fff; }

@media screen and (max-width: 1024px) {
  #visual > ul {
    position: static; }
    #visual > ul > li {
      height: 20%;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      left: 0;
      top: 0;
      transition: 1.5s; }
      #visual > ul > li::before {
        position: absolute; }
      #visual > ul > li:nth-of-type(1) {
        top: 0;
        left: 0; }
      #visual > ul > li:nth-of-type(2) {
        top: 0;
        left: 0; }
      #visual > ul > li:nth-of-type(3) {
        top: 0;
        left: 0; }
      #visual > ul > li:nth-of-type(4) {
        top: 0;
        left: 0; }
      #visual > ul > li:nth-of-type(5) {
        top: 0;
        left: 0; }
      #visual > ul > li:nth-of-type(1).on {
        left: 0;
        top: 0%; }
      #visual > ul > li:nth-of-type(2).on {
        left: 0;
        top: -20%; }
      #visual > ul > li:nth-of-type(3).on {
        left: 0;
        top: -40%; }
      #visual > ul > li:nth-of-type(4).on {
        left: 0;
        top: -60%; }
      #visual > ul > li:nth-of-type(5).on {
        left: 0;
        top: -80%; }
      #visual > ul > li.off {
        transform: scale(0.2) rotateX(180deg); }
      #visual > ul > li .open {
        bottom: 20px;
        left: 90%; }
      #visual > ul > li .txt p {
        font: bold 28px/1 'Cairo'; }
      #visual > ul > li .txt h2 {
        font: bold 34px/1 'Cairo'; }
  #visual .content {
    width: 100%;
    height: 80%;
    right: 0%;
    position: absolute;
    top: 100%;
    padding: 0px;
    padding-top: 30px; }
    #visual .content .close {
      top: 20px;
      right: 20px; }
    #visual .content.on {
      top: 20%; }
    #visual .content .inner {
      width: 90%;
      padding-top: 40px; } }
@media screen and (max-width: 539px) {
  #visual > ul > li .open {
    bottom: 20px;
    left: 85%; }
  #visual > ul > li .txt p {
    font: bold 25px/1 'Cairo'; }
  #visual > ul > li .txt h2 {
    font: bold 30px/1 'Cairo'; }
  #visual .content .inner {
    padding-top: 20px; }
    #visual .content .inner h2 {
      font: bold 30px/1 'Cairo';
      color: #fff;
      margin-bottom: 20px; }
    #visual .content .inner span {
      font: bold 16px/1 'Cairo';
      color: #fff; }
    #visual .content .inner h3 {
      font: bold 22px/1 'Cairo';
      color: #fff;
      margin-bottom: 20px;
      margin-top: 10px; }
    #visual .content .inner .vid {
      width: 100%;
      margin: 0 auto;
      z-index: 4;
      margin-bottom: 10px; }
    #visual .content .inner a {
      font: 18px/1 'Shadows Into Light';
      color: #fff; } }

/*# sourceMappingURL=style.css.map */
